@import './variables'; 
@mixin resets {
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    
    html,
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }

@import './typography';
@mixin resets {
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    
    html,
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }
//breakpoints
@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}
//mobile
@mixin mobile-h1-pageheader{
    font-size: $mobile-h1-header-font;
    line-height: $mobile-h1-header-lineh;
    font-weight: 600;
}
@mixin mobile-h2-subheader{
    font-size: $mobile-h2-subheader-font;
    line-height: $mobile-h2-subheader-lineh;
    font-weight: 600;
}
@mixin mobile-h3-labels-links-btns{
    font-size: $mobile-h3-lablinkbtns-font;
    line-height: $mobile-h3-lablinkbtns-lineh;
    font-weight: 600;
}
@mixin mobile-h4-table-header{
    font-size: $mobile-h4-tableheader-font;
    line-height: $mobile-h4-tableheader-lineh;
    font-weight: 400;
}
@mixin mobile-large-font{
    font-size: $mobile-p1-bodylarge-font;
    line-height: $mobile-p1-bodylarge-lineh;
    font-weight: 400;
}
@mixin mobile-medium-font{
    font-size: $mobile-p2-bodymedium-font;
    line-height: $mobile-p2-bodymedium-lineh;
    font-weight: 400;
}
@mixin mobile-small-font{
    font-size: $mobile-p3-bodysmall-font;
    line-height: $mobile-p3-bodysmall-lineh;
    font-weight: 400;
}
//desktop
@mixin desktop-h1-pageheader{
    font-size: $desktop-h1-header-font;
    line-height: $desktop-h1-header-lineh;
    font-weight: 600;
}
@mixin desktop-h2-subheader{
    font-size: $desktop-h2-subheader-font;
    line-height: $desktop-h2-subheader-lineh;
    font-weight: 600;
}
@mixin desktop-h3-labels-links-btns{
    font-size: $desktop-h3-lablinkbtns-font;
    line-height: $desktop-h3-lablinkbtns-lineh;
    font-weight: 400;
}
@mixin desktop-h4-table-header{
    font-size: $desktop-h4-tableheader-font;
    line-height: $desktop-h4-tableheader-lineh;
    font-weight: 400;
}
@mixin desktop-large-font{
    font-size: $desktop-p1-bodylarge-font;
    line-height: $desktop-p1-bodylarge-lineh;
    font-weight: 400;
}
@mixin desktop-medium-font{
    font-size: $desktop-p2-bodymedium-font;
    line-height: $desktop-p2-bodymedium-lineh;
    font-weight: 400;
}
@mixin desktop-small-font{
    font-size: $desktop-p3-bodysmall-font;
    line-height: $desktop-p3-bodysmall-lineh;
    font-weight: 400;
}
//colors: 
@mixin globaltxt {
    color: $instock-black;
}
@mixin interactive{
    color: $instock-indigo;
}
@mixin globalwhite {
    color: $white;
}
@mixin tablehr-placeholder {
    color: $slate;
}
@mixin dividers-borders {
    color: $cloud;
}
@mixin bkgdnavigationheader {
    color: $graphite;
}
@mixin instock {
    color: $green;
}
@mixin outofstock {
    color: $red;
}

// element styles
@mixin button {
    @include mobile-h3-labels-links-btns;
    background-color: $instock-indigo;
    color: $white;
    border-radius: 1.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}