@import "../../Styles/partials/mixins";
@import "../../Styles/partials/variables";
@import "../../Styles//partials/typography";

body {
  font-family: "Titillium Web";
  margin: 0;
  color: $instock-black;
  background-color: $light-grey;
}

.details {
  @include resets;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  position: relative;
  top: -3rem;
  @include tablet {
    top:-7rem;
    width: 44rem;
    height: 37.875rem;
    margin:auto
  }
  @include desktop {
    margin: auto;
    width: 64rem;
    height: 37.875rem;
    top:-7rem;
  }
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7rem;
    border-bottom: 1px solid #BDC5D5;
    padding-left:1.75rem;
    padding-right:1.5rem;
    @include tablet{
      height: 7rem;
    }
    &__main{
        display: flex;
        flex-direction: row;
    }
    &__arrow{
      width: 2rem;
      height: 2rem;
      margin-top:2.5rem;
      margin-right:0.25rem;
    }
    &__title{
      font-size: 1.75rem;
      margin-top:2rem;
    }
    &__action{
        border-radius: 50%;
        background-color: #2E66E5;
        width: 1.7rem;
        height: 2.25rem;
        border: none;
        margin-top: 2.2rem;
    }
    &__edit-text{
        display: none;
    }
  }

  .info{
    border-bottom: 1px solid #BDC5D5;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-bottom: 0.25rem;
    &__address-title{
        font-size: 0.6875rem;
        color:#5c667E;
        padding-top:0.2rem;
        margin-bottom: 0rem;
    }
    &__address-text{
        margin-top:0.25rem;
        font-size: 0.8125rem;
        color:#13182C;
    }
    &__contact{
      display: flex;
      flex-direction: row;
    }
    &__name{
      margin-right: 2.5rem;
    }
    &__name-title{
      font-size: 0.6875rem;
      color:#5c667E;
      padding-top:0.2rem;
      margin-bottom: 0rem;
      margin-top:0.5rem;
    }
    &__name-text{
      margin-top:0.25rem;
      font-size: 0.8125rem;
      color:#13182C;
    }
    &__information-title{
      font-size: 0.6875rem;
      color:#5c667E;
      padding-top:0.2rem;
      margin-bottom: 0rem;
      margin-top:0.5rem;
    }
    &__information-text{
      margin-top:0.25rem;
      font-size: 0.8125rem;
      color:#13182C;
    }
  }

.option{
  margin-left:1.5rem;
  margin-right:1.5rem;
  display: flex;
  flex-direction: row;
  &__class{
    margin-right: 5rem;
  }
  &__inventory{
    display: flex;
    flex-direction: column;
  }
  &__inventory-status{
    display: flex;
    flex-direction: row;
  }
  &__inventory-title{
    margin-bottom: 0.25rem;
  }
  &__inventory-pic{
    display: none;
  }
  &__inventory-text{
    display:flex;
    flex-direction: row;
    &--blue{
      color:#2E66E5;
      font-size: 0.8125rem;
      font-weight: 600;
      margin-top: 0.1rem;
    }
  }
  &__inventory-image{
    margin-bottom: 0.8rem;
  }
  &__catagory{
    display: flex;
    flex-direction: column;
  }
  &__catagory-status{
    display: flex;
    flex-direction: row;
  }
  &__catagory-pic{
    display: none;
  }
  &__property{
    display: flex;
    flex-direction: column;
  }
  &__stats{
    display: flex;
    flex-direction: row;
  }
  &__stats-title{
    margin-bottom:0.25rem ;
  }
  &__stats-pic{
    display: none;
  }
  &__status-text{
    margin-top: 0.2rem;
    font-size: 0.6875rem;
    font-weight: 600;
    color:#128463;
    background-color: rgba(18, 132, 99, 0.07);
    padding-left:0.25rem;
    padding-right:0.25rem;
    border-radius: 20px;
  }
  &__qty{
    display: flex;
    flex-direction: row;
  }
}