@import '../../Styles/partials/variables';
@import '../../Styles/partials/typography';
@import '../../Styles/partials/mixins';

.inventorydetails{
    &__container {
        position: relative;
        top: -3rem;
        background-color: $white;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    }
    &__itemName {
        @include mobile-h1-pageheader;
    }
    &__title {
        @include mobile-h4-table-header;
        color: $slate;
    }
    &__subtext {
        @include mobile-medium-font;
    }
    &__actions-edit-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5rem 1rem;
        width: 81px;
        height: 38px;
    }
    &__actions-edit {
        @include tablet {
            background-color: $instock-indigo;
            border-radius: 20px;
        }
    }
}